<section class="content-header">
  <h1>
    Quản lý giờ làm
    <small>Danh sách giờ làm</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Danh sách giờ làm</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Điều kiện tìm kiếm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
        	<div class="box-body">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Mã nhân viên</label>
                <div class="col-sm-9">
  		            <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Bắt đầu</label>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control pull-right">
                  </div>
                </div>
                <label for="inputPassword3" class="col-sm-3 control-label">Kết thúc</label>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control pull-right">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Tên nhân viên</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Chức vụ</label>
                <div class="col-sm-9">
                  <select class="form-control select2" style="width: 100%;">
                    <option>Tất cả</option>
                    <option>Đang thực hiện</option>
                    <option>Đã hoàn thành</option>
                  </select>
                </div>
              </div>
            </div>
        	</div>
        	<!-- /.box-body -->
        	<div class="box-footer">
          	<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
        	</div>
         	<!-- /.box-footer -->
        </form>
      </div>
		</div>		
	</div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách giờ làm</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Mã nhân viên</th>
              <th>Tên nhân viên</th>
              <th>Bắt đầu</th>
              <th>Kết thúc</th>
              <th>Số giờ làm</th>
              <th>Số giờ nghỉ có phép</th>
              <th>Số giờ nghỉ không phép</th>
              <th>Tổng số giờ làm</th>
              <th class="text-center">###</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Võ Tấn Vương</td>
              <td>01/05/2017</td>
              <td>31/05/2017</td>
              <td>160</td>
              <td>16</td>
              <td>0</td>
              <td>160</td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Nguyễn Văn A</td>
              <td>01/05/2017</td>
              <td>31/05/2017</td>
              <td>160</td>
              <td>0</td>
              <td>16</td>
              <td>144</td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>