<section class="content-header">
  <h1>
    Quản lý cập nhật yêu cầu
    <small>Danh sách cập nhật yêu cầu</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Danh sách cập nhật yêu cầu</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Điều kiện tìm kiếm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
        	<div class="box-body">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">Dự án</label>
              <div class="col-sm-5">
		            <select class="form-control select2" style="width: 100%;">
                  <option>Tất cả</option>
                  <option>Nhà anh Vương</option>
                  <option>Nhà anh Hiếu</option>
                  <option>Nhà chị A</option>
                  <option>Nhà chị B</option>
                  <option>Nhà chị C</option>
                  <option>Nhà anh D</option>
                </select>
              </div>
              <label for="inputPassword3" class="col-sm-1 control-label">Ngày</label>
              <div class="col-sm-2">
                <div class="input-group date">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="datepicker form-control pull-right">
                </div>
              </div>
            </div>
        	</div>
        	<!-- /.box-body -->
        	<div class="box-footer">
          	<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
        	</div>
         	<!-- /.box-footer -->
        </form>
      </div>
		</div>		
	</div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách cập nhật yêu cầu</h3>

          <div class="box-tools pull-right">
              <button type="button" class="btn bg-maroon btn-sm"><i class="fa fa-plus"></i> Tạo mới</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Mã cập nhật</th>
              <th>Dự án</th>
              <th>Ngày cập nhật</th>
              <th>Nội dung</th>
              <th>Người tạo</th>
              <th class="text-center">###</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>01/05/2017</td>
              <td>Sửa thiết kế bếp, sửa màu bếp. Sửa thiết kế phòng ngủ, sơn tường. ...</td>
              <td>Hiếu</td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>