<section class="content-header">
  <h1>
    Quản lý dự án
    <small>Tạo mới dự án</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> Danh sách dự án</a></li>
    <li class="active">Tạo mới dự án</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header with-border">
        	<h3 class="box-title">Danh sách dự án</h3>
        	<div class="box-tools pull-right">
            <button type="button" class="btn btn-success btn-sm"><i class="fa fa-money"></i> Quản lý ứng tiền</button>
            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-file-excel-o"></i> Quản lý hợp đồng</button>
          </div>
        </div>

        <div class="box-body">
        	<!-- form start -->
          <form class="form-horizontal">
           	<div class="box-body">
            	<div class="col-md-12">
            		<div class="form-group">
                	<label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputEmail3" placeholder="Tên dự án">
									</div>
            		</div>
                <div class="form-group">
                	<label for="inputPassword3" class="col-sm-2 control-label">Bắt đầu</label>
                	<div class="col-sm-2">
										<div class="input-group date">
		               	 	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                	</div>
		                	<input type="text" class="datepicker form-control pull-right">
		                </div>
									</div>
									<label for="inputPassword3" class="col-sm-2 control-label">Kết thúc</label>
                	<div class="col-sm-2">
										<div class="input-group date">
		               	 	<div class="input-group-addon">
		                    	<i class="fa fa-calendar"></i>
		                	</div>
		                	<input type="text" class="datepicker form-control pull-right">
		                </div>
									</div>
                </div>
                <div class="form-group">
                	<label for="inputEmail3" class="col-sm-2 control-label">Yêu cầu</label>
									<div class="col-sm-10">
										<textarea class="form-control"></textarea>
									</div>
            		</div>
        			</div>
            	<div class="col-md-12">
                <div class="form-group">
                	<label for="inputPassword3" class="col-sm-2 control-label">Thiết kế</label>
                	<div class="col-sm-3">
		                <input type="text" class="form-control" id="inputEmail3" placeholder="Tổng số tiền phần thiết kế">
                	</div>
                </div>
                <div class="form-group">
                	<label for="inputPassword3" class="col-sm-2 control-label">Xây thô</label>
                	<div class="col-sm-3">
		                <input type="text" class="form-control" id="inputEmail3" placeholder="Tổng số tiền phần xây dựng thô">
                	</div>
                </div>
                <div class="form-group">
                	<label for="inputPassword3" class="col-sm-2 control-label">Hoàn thiện</label>
                	<div class="col-sm-3">
		                <input type="text" class="form-control" id="inputEmail3" placeholder="Tổng số tiền phần hoàn thiện">
                	</div>
                </div>
                <div class="form-group">
                	<label for="inputPassword3" class="col-sm-2 control-label">Ứng tiền</label>
                	<div class="col-sm-10">
                		<div class="box-body table-responsive no-padding">
			                <table class="table table-bordered">
			                	<thead>
													<tr>
														<th>Lần</th>
														<th>Ngày</th>
														<th>Số tiền</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>
															<div class="input-group date">
							               	 	<div class="input-group-addon">
							                    	<i class="fa fa-calendar"></i>
							                	</div>
							                	<input type="text" class="datepicker form-control pull-right">
							                </div>
														</td>
														<td>
															<input type="text" class="form-control">
														</td>
													</tr>
													<tr>
														<td>2</td>
														<td>
															<div class="input-group date">
							               	 	<div class="input-group-addon">
							                    	<i class="fa fa-calendar"></i>
							                	</div>
							                	<input type="text" class="datepicker form-control pull-right">
							                </div>
														</td>
														<td>
															<input type="text" class="form-control">
														</td>
													</tr>
													<tr>
														<td>3</td>
														<td>
															<div class="input-group date">
							               	 	<div class="input-group-addon">
							                    	<i class="fa fa-calendar"></i>
							                	</div>
							                	<input type="text" class="datepicker form-control pull-right">
							                </div>
														</td>
														<td>
															<input type="text" class="form-control">
														</td>
													</tr>
													</tbody>
												<tfoot>
													<tr>
														<th colspan="2">Tổng cộng:</th>
														<th>1.500.000</th>
													</tr>
												</tfoot>
			                </table>
			              </div>
                	</div>
                </div>
            	</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Xoá</button>
							<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-save"></i> Lưu</button>
						</div>
						<!-- /.box-footer -->
       		</form>
        </div>
			</div>	
		</div>
	</div>
</section>

<script>
	$(function () {
		//Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })
	});
</script>