<section class="content-header">
  <h1>
    Quản lý báo cáo
    <small>Tạo mới báo cáo</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="<%= console_dailyreports_url %>"><i class="fa fa-list"></i> Danh sách báo cáo</a></li>
    <li class="active">Tạo mới báo cáo</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-info">
				<div class="box-header with-border">
        	<h3 class="box-title">Thông tin làm thêm giờ</h3>
        </div>
        <%= form_for :anything,  html: {id: 'item_form', class: 'form-horizontal'}, url: "my_controller/my_action" do |form| %> <form class="form-horizontal">
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover table-bordered">
            <tr>
              <th>Ngày làm việc</th>
              <th>Dự án</th>
              <th>Số giờ làm việc</th>
              <th>Nội dung</th>
              <th class="text-center">###</th>
            </tr>
            <tr>
              <td>
                <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="datepicker form-control">
                </div>
              </td>
              <td>
                <select class="form-control select2" style="width: 100%;">
                  <option>Tất cả</option>
                  <option>Nhà anh Vương</option>
                  <option>Nhà anh Hiếu</option>
                  <option>Nhà chị A</option>
                  <option>Nhà chị B</option>
                  <option>Nhà chị C</option>
                  <option>Nhà anh D</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control">
              </td>
              <td>
                <textarea class="form-control"></textarea>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="datepicker form-control">
                </div>
              </td>
              <td>
                <select class="form-control select2" style="width: 100%;">
                  <option>Tất cả</option>
                  <option>Nhà anh Vương</option>
                  <option>Nhà anh Hiếu</option>
                  <option>Nhà chị A</option>
                  <option>Nhà chị B</option>
                  <option>Nhà chị C</option>
                  <option>Nhà anh D</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control">
              </td>
              <td>
                <textarea class="form-control"></textarea>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="datepicker form-control">
                </div>
              </td>
              <td>
                <select class="form-control select2" style="width: 100%;">
                  <option>Tất cả</option>
                  <option>Nhà anh Vương</option>
                  <option>Nhà anh Hiếu</option>
                  <option>Nhà chị A</option>
                  <option>Nhà chị B</option>
                  <option>Nhà chị C</option>
                  <option>Nhà anh D</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control">
              </td>
              <td>
                <textarea class="form-control"></textarea>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </table>
        </div>
	      <!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Thêm dòng</button>
					<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-save"></i> Lưu</button>
				</div>
				<!-- /.box-footer -->
        <% end %>
			</div>
		</div>
	</div>
</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Date range picker with time picker
    $('.range-time').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY HH:mm' })

    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>
