<section class="content-header">
  <h1>
    Quản lý nhân viên
    <small>Tạo mới nhân viên</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> Danh sách nhân viên</a></li>
    <li class="active">Tạo mới nhân viên</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
				<div class="box-header with-border">
        	<h3 class="box-title">Danh sách nhân viên</h3>
        </div>

          <div class="box-body">
          	<!-- form start -->
            <form class="form-horizontal">
             	<div class="box-body">
              	<div class="col-md-6">
              		<div class="form-group">
	                	<label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputEmail3" placeholder="Họ và tên">
										</div>
	                </div>
	                <div class="form-group">
                  	<label for="inputPassword3" class="col-sm-2 control-label">Chức vụ</label>
                  	<div class="col-sm-10">
											<select class="form-control">
												<option>Kiến trúc sư</option>
												<option>Kế toán</option>
												<option>Nhân viên thử việc</option>
												<option>Thợ xây</option>
												<option>Thợ phụ</option>
			                </select>
                  	</div>
	                </div>
	                <div class="form-group">
	                	<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputEmail3" placeholder="Họ và tên">
										</div>
	                </div>
	              	</div>
	              	<div class="col-md-6">
		                <div class="form-group">
	                  	<label for="inputPassword3" class="col-sm-2 control-label">Giới tính</label>
	                  	<div class="col-sm-10">
												<select class="form-control">
													<option>Nam</option>
													<option>Nữ</option>
				                </select>
	                  	</div>
		                </div>
		                <div class="form-group">
	                  	<label for="inputPassword3" class="col-sm-2 control-label">Ngày sinh</label>
	                  	<div class="col-sm-10">
			                <div class="input-group date">
			               	 	<div class="input-group-addon">
			                    	<i class="fa fa-calendar"></i>
			                	</div>
			                	<input type="text" class="datepicker form-control pull-right">
			                </div>
	                  	</div>
		                </div>
		                <div class="form-group">
	                  	<label for="inputPassword3" class="col-sm-2 control-label">Ngày vào</label>
	                  	<div class="col-sm-10">
			                <div class="input-group date">
			               	 	<div class="input-group-addon">
			                    	<i class="fa fa-calendar"></i>
			                	</div>
			                	<input type="text" class="datepicker form-control pull-right">
			                </div>
	                  	</div>
		                </div>
	              	</div>
	              	<div class="col-md-6">
		                <div class="form-group">
	                  	<label for="inputPassword3" class="col-sm-2 control-label">Người quản lý</label>
	                  	<div class="col-sm-10">
												<select class="form-control">
													<option>Võ Tấn Vương</option>
													<option>Nguyễn Văn A</option>
				                </select>
	                  	</div>
		                </div>
	              	</div>
	              	<div class="col-md-6">
		                <div class="form-group">
	                  	<label for="inputPassword3" class="col-sm-2 control-label">Ảnh</label>
	                  	<div class="col-sm-10">

	                  	</div>
		                </div>
	              	</div>
								</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Xoá</button>
								<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-save"></i> Lưu</button>
							</div>
							<!-- /.box-footer -->
          </form>
        </div>
			</div>
		</div>
	</div>
</section>

<script>
	$(function () {
		//Date picker
	    $('.datepicker').datepicker({
	      autoclose: true
	    })
	});
</script>
