<section class="content-header">
  <h1>
    Quản lý nhân viên
    <small>Danh sách nhân viên</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Danh sách nhân viên</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
	            <div class="box-header with-border">
	              <h3 class="box-title">Điều kiện tìm kiếm</h3>
	            </div>
	            <!-- /.box-header -->
	            <!-- form start -->
	            <form class="form-horizontal">
	              <div class="box-body">
	              	<div class="col-md-6">
	              		<div class="form-group">
		                	<label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputEmail3" placeholder="Họ và tên">
							</div>
		                </div>
		                <div class="form-group">
		                  	<label for="inputPassword3" class="col-sm-2 control-label">Chức vụ</label>
		                  	<div class="col-sm-10">
								<select class="form-control">
									<option>Kiến trúc sư</option>
									<option>Kế toán</option>
									<option>Nhân viên thử việc</option>
									<option>Thợ xây</option>
									<option>Thợ phụ</option>
				                </select>
		                  	</div>
		                </div>
	              	</div>
	              	<div class="col-md-6">
		                <div class="form-group">
		                  	<label for="inputPassword3" class="col-sm-2 control-label">Giới tính</label>
		                  	<div class="col-sm-10">
								<select class="form-control">
									<option>Nam</option>
									<option>Nữ</option>
				                </select>
		                  	</div>
		                </div>
		                <div class="form-group">
		                  	<label for="inputPassword3" class="col-sm-2 control-label">Ngày sinh</label>
		                  	<div class="col-sm-5">
				                <div class="input-group date">
				               	 	<div class="input-group-addon">
				                    	<i class="fa fa-calendar"></i>
				                	</div>
				                	<input type="text" class="datepicker form-control pull-right " id="">
				                </div>
		                  	</div>
		                  	<div class="col-sm-5">
				                <div class="input-group date">
				               	 	<div class="input-group-addon">
				                    	<i class="fa fa-calendar"></i>
				                	</div>
				                	<input type="text" class="datepicker form-control pull-right" id="">
				                </div>
		                  	</div>
		                </div>
	              	</div>
	              </div>
	              <!-- /.box-body -->
	              <div class="box-footer">
	                <button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
	              </div>
	              <!-- /.box-footer -->
	            </form>
	        </div>
		</div>		
	</div>

	<div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header with-border">
            	<h3 class="box-title">Danh sách nhân viên</h3>

	            <div class="box-tools pull-right">
	                <button type="button" class="btn bg-maroon btn-sm"><i class="fa fa-plus"></i> Tạo mới</button>
	            </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Mã nhân viên</th>
                  <th>Họ và tên</th>
                  <th>Ngày sinh</th>
                  <th>Giới tính</th>
                  <th>Chức vụ</th>
                  <th>Email</th>
                  <th>Ngày vào công ty</th>
                  <th class="text-center">###</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Võ Tấn Vương</td>
                  <td>27-03-1991</td>
                  <td>Nam</td>
                  <td><span class="label label-success">Kiến trúc sư</span></td>
                  <td>123@gmail.com</td>
                  <td>01-01-2016</td>
                  <td class="text-center">
                  	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                  	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                  	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Trần Thị A</td>
                  <td>11-7-1993</td>
                  <td>Nữ</td>
                  <td><span class="label label-warning">Kế toán</span></td>
                  <td>123@gmail.com</td>
                  <td>01-01-2016</td>
                  <td class="text-center">
                  	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                  	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                  	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
	</div>

</section>

<script>
	$(function () {
		//Date picker
	    $('.datepicker').datepicker({
	      autoclose: true
	    })
	});
</script>