<section class="content-header">
  <h1>
    Quản lý công việc
    <small>Cập nhật công việc</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Cập nhật công việc</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-info">
				<div class="box-header with-border">
        	<h3 class="box-title">Mô tả công việc</h3>
        </div>
        <div class="box-body">
        	<form class="form-horizontal">
        		<div class="col-sm-12">
        			<div class="form-group">
              	<label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputEmail3" placeholder="Tiêu đề của công việc">
								</div>
          		</div>
        		</div>
        		<div class="col-sm-12">
        			<div class="form-group">
              	<label for="inputEmail3" class="col-sm-2 control-label">Mô tả</label>
								<div class="col-sm-10">
									<textarea placeholder="Mô tả công việc" class="form-control"></textarea>
								</div>
          		</div>	
        		</div>
        		<div class="col-sm-12">
        			<div class="form-group">
              	<label for="inputEmail3" class="col-sm-2 control-label">Dự án</label>
								<div class="col-sm-4">
									<select class="form-control select2">
                    <option></option>
                    <option>Nhà anh Vương</option>
                    <option>Nhà anh Hiếu</option>
                    <option>Nhà chị A</option>
                    <option>Nhà chị B</option>
                    <option>Nhà chị C</option>
                    <option>Nhà anh D</option>
                  </select>
								</div>
								<label for="inputEmail3" class="col-sm-2 control-label">Loại</label>
								<div class="col-sm-4">
									<select class="form-control select2">
                    <option></option>
                    <option>Gấp</option>
                    <option>Bình thường</option>
                    <option>Chưa cần</option>
                  </select>
								</div>
          		</div>
        		</div>
        		<div class="col-sm-12">
        			<div class="form-group">
              	<label for="inputEmail3" class="col-sm-2 control-label">Người phụ trách</label>
								<div class="col-sm-10">
									<select class="form-control select2" multiple="multiple" data-placeholder="Chọn ít nhất một người phụ trách"
                      style="width: 100%;">
                    <option></option>
	                  <option>Bạn A</option>
	                  <option>Bạn B</option>
	                  <option>Bạn C</option>
	                  <option>Bạn D</option>
	                  <option>Bạn E</option>
	                </select>
								</div>
          		</div>
        		</div>
        		<div class="col-sm-12">
        			<div class="form-group">
              	<label for="inputEmail3" class="col-sm-2 control-label">Ngày hoàn thành</label>
								<div class="col-sm-2">
									<div class="input-group date">
			              <div class="input-group-addon">
			                  <i class="fa fa-calendar"></i>
			              </div>
			              <input type="text" class="datepicker form-control pull-right">
			            </div>
								</div>
          		</div>
        		</div>
        	</form>
        </div>
	      <!-- /.box-body -->
			</div>

      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Kết quả công việc</h3>
        </div>
        <div class="box-body">
          <form class="form-horizontal">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">File đã render</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="File JPEG đã render">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">File CAD</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="File CAD nguyên bản">
                </div>
              </div>  
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Hoàn thành</label>
                <div class="col-sm-1">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="%">
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Ghi chú</label>
                <div class="col-sm-10">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Nhận xét</label>
                <div class="col-sm-10">
                  
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Xoá</button>
          <button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-save"></i> Lưu</button>
        </div>
        <!-- /.box-footer -->
      </div>

      <div class="box box-success">
        <div class="box-header">
          <i class="fa fa-comments-o"></i>

          <h3 class="box-title">Chat</h3>

          <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
            <div class="btn-group" data-toggle="btn-toggle">
              <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i>
              </button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
            </div>
          </div>
        </div>
        <div class="box-body chat" id="chat-box">
          <!-- chat item -->
          <div class="item">
            <img src="../../dist/img/user4-128x128.jpg" alt="user image" class="online">

            <p class="message">
              <a href="#" class="name">
                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                Mike Doe
              </a>
              I would like to meet you to discuss the latest news about
              the arrival of the new theme. They say it is going to be one the
              best themes on the market
            </p>
            <div class="attachment">
              <h4>Attachments:</h4>

              <p class="filename">
                Theme-thumbnail-image.jpg
              </p>

              <div class="pull-right">
                <button type="button" class="btn btn-primary btn-sm btn-flat">Open</button>
              </div>
            </div>
            <!-- /.attachment -->
          </div>
          <!-- /.item -->
          <!-- chat item -->
          <div class="item">
            <img src="../../dist/img/user3-128x128.jpg" alt="user image" class="offline">

            <p class="message">
              <a href="#" class="name">
                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                Alexander Pierce
              </a>
              I would like to meet you to discuss the latest news about
              the arrival of the new theme. They say it is going to be one the
              best themes on the market
            </p>
          </div>
          <!-- /.item -->
          <!-- chat item -->
          <div class="item">
            <img src="../../dist/img/user2-160x160.jpg" alt="user image" class="offline">

            <p class="message">
              <a href="#" class="name">
                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                Susan Doe
              </a>
              I would like to meet you to discuss the latest news about
              the arrival of the new theme. They say it is going to be one the
              best themes on the market
            </p>
          </div>
          <!-- /.item -->
        </div>
        <!-- /.chat -->
        <div class="box-footer">
          <div class="input-group">
            <input class="form-control" placeholder="Type message...">

            <div class="input-group-btn">
              <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box (chat box) -->
		</div>
	</div>
</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>