<section class="content-header">
  <h1>
    Quản lý công việc
    <small>Tạo mới công việc</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="<%= console_tasks_url %>"><i class="fa fa-list"></i> Danh sách công việc</a></li>
    <li class="active">Tạo mới công việc</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Mô tả công việc</h3>
        </div>
        <div class="box-body">
          <%= form_for :anything,  html: {id: 'item_form', class: 'form-horizontal'}, url: "my_controller/my_action" do |form| %> <form class="form-horizontal">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
                <div class="col-sm-10">
                  <label for="inputEmail3" class="control-label">Công việc A</label>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Mô tả</label>
                <div class="col-sm-10">
                    <%= form.cktext_area :notes, class: 'someclass', ckeditor: { language: 'vn'} %>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Dự án</label>
                <div class="col-sm-4">
                  <select class="form-control select2" style="width: 100%;">
                    <option></option>
                    <option selected="selected">Nhà anh Vương</option>
                    <option>Nhà anh Hiếu</option>
                    <option>Nhà chị A</option>
                    <option>Nhà chị B</option>
                    <option>Nhà chị C</option>
                    <option>Nhà anh D</option>
                  </select>
                </div>
                <label for="inputEmail3" class="col-sm-2 control-label">Loại</label>
                <div class="col-sm-4">
                  <select class="form-control select2" style="width: 100%;">
                    <option></option>
                    <option selected="selected">Gấp</option>
                    <option>Bình thường</option>
                    <option>Chưa cần</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Người phụ trách</label>
                <div class="col-sm-10">
                  <select class="form-control select2" multiple="multiple" data-placeholder="Chọn ít nhất một người phụ trách"
                      style="width: 100%;">
                    <option></option>
                    <option selected="selected">Bạn A</option>
                    <option>Bạn B</option>
                    <option selected="selected">Bạn C</option>
                    <option selected="selected">Bạn D</option>
                    <option>Bạn E</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Ngày hoàn thành</label>
                <div class="col-sm-2">
                  <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control pull-right" value="01/05/2017">
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-success btn-flat pull-right">Bắt đầu</button>
          <button type="button" class="btn btn-danger btn-flat">Kết thúc</button>
        </div>
        <!-- /.box-footer -->
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1" data-toggle="tab">Nhận xét</a></li>
          <li><a href="#tab_2" data-toggle="tab">Lịch sử</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                  <img src="../../dist/img/user2-160x160.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Võ Tấn Vương</a>
                  <span class="product-description">
                    Cái này cần chỉnh sửa thêm phần A, B, C, D, ...
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="../../dist/img/user2-160x160.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Nguyễn Văn A</a>
                    <span class="product-description">
                      Em đã chỉnh sửa rồi anh nhé
                    </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="../../dist/img/user2-160x160.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Võ Tấn Vương</a>
                  <span class="product-description">
                    Chỉnh sửa thêm phần X, Y, Z nữa nhé.
                  </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                  <img src="../../dist/img/user2-160x160.jpg" alt="Product Image">
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Nguyễn Văn A</a>
                  <span class="product-description">
                    Em sửa xong rồi anh nhé
                  </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="tab_2">
            The European languages are members of the same family. Their separate existence is a myth.
            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
            in their grammar, their pronunciation and their most common words. Everyone realizes why a
            new common language would be desirable: one could refuse to pay expensive translators. To
            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
            words. If several languages coalesce, the grammar of the resulting language is more simple
            and regular than that of the individual languages.
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Initialize Select2 Elements
    $('.select2').select2()
  })
</script>
