<section class="content-header">
  <h1>
    Quản lý ứng tiền
    <small>Danh sách ứng tiền</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Danh sách ứng tiền</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Điều kiện tìm kiếm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
          <div class="box-body">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Tên dự án</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Tên dự án">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Ngày ứng tiền</label>
                <div class="col-sm-4">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right datepicker">
                  </div>
                </div>
                <div class="col-sm-1"><span>~</span></div>
                <div class="col-sm-4">
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right datepicker">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Mã dự án</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="Mã số của dự án">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Tình trạng</label>
                <div class="col-sm-4">
                  <select class="form-control select2" style="width: 100%;">
                    <option></option>
                    <option>Đã nhận</option>
                    <option>Chưa nhận</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách ứng tiền</h3>
          <div class="box-tools pull-right">
            <%= link_to new_console_advance_path, class: "btn bg-maroon btn-sm" do %>
              <i class="fa fa-plus"></i>
              <%= " Tạo mới" %>
            <% end %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Mã dự án</th>
              <th>Tên</th>
              <th>Địa chỉ</th>
              <th>Loại</th>
              <th>Lần</th>
              <th>Trạng thái</th>
              <th>Ngày ứng tiền</th>
              <th>Số tiền</th>
              <th>Đã nhận</th>
              <th class="text-center">###</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>Lô B145-55 Khu đô thị sinh thái Nam Nguyễn Tri Phương</td>
              <td>
                Ứng tiền
              </td>
              <td>Lần 4</td>
              <td>
                <span class="label label-danger">Chưa nhận</span>
              </td>
              <td>01/11/2017</td>
              <td>
                <span class="label label-success">2.000.000.000</span>
              </td>
              <td>

              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>Lô B145-55 Khu đô thị sinh thái Nam Nguyễn Tri Phương</td>
              <td>Nợ</td>
              <td>Lần 1</td>
              <td>
                <span class="label label-danger">Chưa nhận</span>
              </td>
              <td>01/11/2017</td>
              <td>
                <span class="label label-success">500.000.000</span>
              </td>
              <td>

              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>Lô B145-55 Khu đô thị sinh thái Nam Nguyễn Tri Phương</td>
              <td>Ứng tiền</td>
              <td>Lần 3</td>
              <td>
                <span class="label label-primary">Đã nhận</span>
              </td>
              <td>01/09/2017</td>
              <td>
                <span class="label label-success">2.000.000.000</span>
              </td>
              <td>
                <span class="label label-primary">1.500.000.000</span>
                <span class="label label-danger">Nợ 500.000.000</span>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>Lô B145-55 Khu đô thị sinh thái Nam Nguyễn Tri Phương</td>
              <td>Ứng tiền</td>
              <td>Lần 2</td>
              <td>
                <span class="label label-primary">Đã nhận</span>
              </td>
              <td>01/07/2017</td>
              <td>
                <span class="label label-success">2.000.000.000</span>
              </td>
              <td>
                <span class="label label-primary">2.000.000.000</span>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Nhà anh Vương</td>
              <td>Lô B145-55 Khu đô thị sinh thái Nam Nguyễn Tri Phương</td>
              <td>Ứng tiền</td>
              <td>Lần 1</td>
              <td>
                <span class="label label-primary">Đã nhận</span>
              </td>
              <td>01/05/2017</td>
              <td>
                <span class="label label-success">1.000.000.000</span>
              </td>
              <td>
                <span class="label label-primary">1.000.000.000</span>
              </td>
              <td class="text-center">
                <a class="btn btn-xs"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs"><i class="fa fa-eye"></i></a>
                <a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>

<script>
  $(function () {
    //Date picker
    $('.datepicker').datepicker({
      autoclose: true
    })

    //Initialize Select2 Elements
    $('.select2').select2()

  });
</script>
