<section class="content-header">
  <h1>
    Quản lý chức vụ
    <small>Danh sách chức vụ</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li class="active">Danh sách chức vụ</li>
  </ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Điều kiện tìm kiếm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
        	<div class="box-body">
        		<div class="form-group">
            	<label for="inputEmail3" class="col-sm-2 control-label">Tên</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputEmail3" placeholder="Tên chức vụ">
							</div>
            </div>
        	</div>
        	<!-- /.box-body -->
        	<div class="box-footer">
          	<button type="submit" class="btn btn-info btn-sm pull-right"><i class="fa fa-search"></i> Tìm kiếm</button>
        	</div>
         	<!-- /.box-footer -->
        </form>
      </div>
		</div>
	</div>

	<div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header with-border">
        	<h3 class="box-title">Danh sách chức vụ</h3>
          <div class="box-tools pull-right">
            <%= link_to new_console_role_path, class: "btn bg-maroon btn-sm" do %>
              <i class="fa fa-plus"></i>
              <%= " Tạo mới" %>
            <% end %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>Mã chức vụ</th>
              <th>Tên</th>
              <th class="text-center">###</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Kiến trúc sư</td>
              <td class="text-center">
              	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Thợ xây</td>
              <td class="text-center">
              	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kế toán</td>
              <td class="text-center">
              	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Thợ phụ</td>
              <td class="text-center">
              	<a class="btn btn-xs"><i class="fa fa-edit"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-eye"></i></a>
              	<a class="btn btn-xs"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
	</div>
</section>
